.date-picker-block {

    height: 100%;
    color: #2B2B2A;
    text-transform: uppercase;
    font-size: 12px;
    background-color: white;
    margin-left:1px;
    border:none;
    width:120px;
}

.date-picker-block > .row {

    line-height: calc(100px/3);
    height: calc(100px/3);
}

