.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 1, 1, 0.273) !important;
}

.card-body {
    padding: auto 0 !important;
    height: 332px;
    width: 270px;
}

.card-title {
    text-align: center;
    font-size: medium;
}

.card-text {
    text-align: center;
    padding: auto;
    font-size: small;
}

.overflow {
    overflow: hidden;
    height: 160px;
    width: auto;
    top: 92px;
}

.card-img-top {
    transition: all 0.2 ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.8);

}